<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http entry-point-ref="casProcessingFilterEntryPoint" auto-config="true">
		<intercept-url pattern="/p/**" access="ROLE_USER,ROLE_ADMIN, ROLE_SUPERVISOR" />
		<intercept-url pattern="/admin/member/**" access="ROLE_SUPERVISOR" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/**" access="ROLE_USER" />

		<session-management invalid-session-url="/login">
			<concurrency-control max-sessions="5" error-if-maximum-exceeded="true" />
		</session-management>

		<custom-filter ref="casProcessingFilter" after="CAS_FILTER" />
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="casAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties" p:service="${cas.securityContext.serviceProperties.service}"
		p:sendRenew="false" />
		
    <!-- cas 认证过滤器 -->  
	<beans:bean id="casProcessingFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter"
		p:authenticationManager-ref="authenticationManager"
		p:authenticationSuccessHandler-ref="loginLogAuthenticationSuccessHandler"
		p:authenticationFailureHandler-ref="simpleUrlAuthenticationFailureHandler"
		p:filterProcessesUrl="/p/j_spring_cas_security_check">
	</beans:bean>
	

	<beans:bean id="casProcessingFilterEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint"
		p:loginUrl="${cas.securityContext.casProcessingFilterEntryPoint.loginUrl}" p:serviceProperties-ref="serviceProperties" />

	<beans:bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider"
		p:key="my_password_for_this_auth_provider_only" p:serviceProperties-ref="serviceProperties" p:userDetailsService-ref="authService">
		<beans:property name="ticketValidator">
			<beans:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<beans:constructor-arg index="0" value="${cas.securityContext.ticketValidator.casServerUrlPrefix}" />
			</beans:bean>
		</beans:property>
	</beans:bean>
	
</beans:beans>
