 HTML {
       overflow: -moz-scrollbars-vertical;
    }
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px;
}

#header {
	BACKGROUND: none transparent scroll repeat 0% 0%; min-width: 950px ; MARGIN: 0px auto;
}
#header A {
	COLOR: #666666
}

#headernav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

#header {
	MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 80px
}

#headerlogin {
	DISPLAY: inline; FLOAT: left; MARGIN: -50px 0px 0px 5px
}

#headerlogin A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}


#headernav {
	MARGIN: -2px auto 0px; OVERFLOW: hidden; WIDTH: 954px; HEIGHT: 24px
}
#headernav UL {
	FLOAT: left
}
#headernav UL.nright {
	FLOAT: right
}


#headernav UL LI A.n1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -234px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 58px; COLOR: #666666; PADDING-TOP: 0px
}

#qchannel #topcatalog UL:hover {
	DISPLAY: block;
}
#qchannel .c#topcatalog UL {
	DISPLAY: block;
}
#qchannel #topcatalog UL LI A {
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-LEFT: 15px; 
	PADDING-BOTTOM: 0px; 
	LINE-HEIGHT: 16px; 
	PADDING-TOP: 0px; 
	HEIGHT: 16px; 
	TEXT-DECORATION: none
}



body, div { font-family: 'lucida grande', helvetica, verdana, arial, sans-serif }

INPUT1 {
	FONT: 12px normal Verdana, Arial; COLOR: #424242
}

.input {
	BORDER-RIGHT: #999999 1px solid; 
	WIDTH: 200px; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid;  
	LINE-HEIGHT: 22px; 
	PADDING: 0px; 
	BORDER-BOTTOM: #999999 1px solid; 
	HEIGHT: 22px;}

.input2 {
	border:0;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	height: 17px;
}

#headersearch .input3 {
  background:#FFCC00;
  height:21px;
  line-height:21px;
  color:#FFF;
  width:60px;
  margin-left:2px;
  cursor:pointer;
  border:0px;
  font-weight: bold;
}


TEXTAREA {
	OVERFLOW: auto
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600;
}
OPTION.c {
	BACKGROUND: #f2fbea
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL LI {
	LIST-STYLE-TYPE: none
}
UL LI UL LI {
	LIST-STYLE-TYPE: none
}

#header A {
	COLOR: #666666
}

#header UL {
	LIST-STYLE-TYPE: none
}
#headernav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#searchwrapper UL {
	LIST-STYLE-TYPE: none
}

#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 365px; PADDING-TOP: 5px;
}

#headerlogin {
	DISPLAY: inline; FLOAT: left; MARGIN: -50px 0px 0px 5px
}
#headerlogin SPAN {
	FONT-SIZE: 13px; COLOR: #ff3300
}
#headerlogin A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}

#headerlogin A.n#navCartSum {
	BACKGROUND-POSITION: -77px -235px
}

#topnews {
    FLOAT: right; MARGIN: -62px -1px 0px 0px
}
#topnews LI {
   FLOAT: left; LINE-HEIGHT: 14px; HEIGHT: 14px
}
#topnews LI A {
    PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnews LI.hl {
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topnews LI.hl A {
    COLOR: #ff6600
}


#topnav {
	FLOAT: right; MARGIN: -40px -1px 0px 0px
}
#topnav LI {
	BORDER-RIGHT: #cccccc 1px solid; FLOAT: left; LINE-HEIGHT: 14px; HEIGHT: 14px
}
#topnav LI A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnav LI.hl {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topnav LI.hl A {
	COLOR: #ff6600
}

#topnav LI#navmyeachnet UL {
	BORDER-RIGHT: #dfdfdf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dfdfdf 1px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 10; BACKGROUND: #ffffff; LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #dfdfdf 1px solid; WIDTH: 74px; PADDING-TOP: 3px; BORDER-BOTTOM: #dfdfdf 1px solid; POSITION: absolute; TOP: 20px
}
#topnav LI#navmyeachnet UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 18px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#topnav LI#navmyeachnet UL LI A {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; LINE-HEIGHT: 18px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 18px; BORDER-BOTTOM-STYLE: none
}
#topnav LI#navmyeachnet UL LI A:hover {
	BACKGROUND: #87de3e; COLOR: #ffffff; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-DECORATION: none
}
#topnav LI#navmyeachnet:hover {
	Z-INDEX: 1; MARGIN: -6px 0px 0px -1px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; BORDER-BOTTOM-STYLE: none
}
#topnav LI.c#navmyeachnet {
	Z-INDEX: 1; MARGIN: -6px 0px 0px -1px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; BORDER-BOTTOM-STYLE: none
}
#topnav LI#navmyeachnet:hover A {
	BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #dfdfdf 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #dfdfdf 1px; HEIGHT: 15px
}
#topnav LI.c#navmyeachnet A {
	BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #dfdfdf 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #dfdfdf 1px; HEIGHT: 15px
}
#topnav LI#navmyeachnet:hover UL {
	DISPLAY: block
}
#topnav LI.c#navmyeachnet UL {
	DISPLAY: block
}
#topnav LI#navmyeachnet:hover UL LI A {
	BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#topnav LI.c#navmyeachnet UL LI A {
	BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#topnav LI#livechat {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#topnav LI#livechat A {
	COLOR: #ff6600
}
#headernav {
	MARGIN: -24px auto 0px; OVERFLOW: hidden; WIDTH: 954px; HEIGHT: 24px
}
#headernav UL {
	FLOAT: left
}

#headernav UL LI {
	BACKGROUND: url(../default/images/tagleft.gif) no-repeat left bottom; 
	FLOAT: left; 
	MARGIN-RIGHT: 1px; 
	LIST-STYLE-TYPE: none; 
	HEIGHT: 23px
}

#headernav UL LI A {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	BACKGROUND: url(../default/images/tagright.gif) no-repeat right bottom; 
	FLOAT: left; PADDING-BOTTOM: 0px; 
	COLOR: #666666; LINE-HEIGHT: 23px; 
	PADDING-TOP: 0px; HEIGHT: 100%; 
	TEXT-DECORATION: none;
	DISPLAY: block;
}


#headernav UL LI:hover {
	BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px;  HEIGHT: 23px
}

#headernav UL LI A:hover {
	BACKGROUND-POSITION: right top;  
	#BACKGROUND-POSITION: right top;   
	COLOR: #000; 
	LINE-HEIGHT: 23px; 
	HEIGHT: 21px
}

#headernav UL LI A.n1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -234px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 58px; COLOR: #666666; PADDING-TOP: 0px
}

#qchannel #topcatalog H2 A {
	PADDING-LEFT: 30px; 
	PADDING-RIGHT: 20px;
	DISPLAY: block;
	
	PADDING-BOTTOM: 0px; 
	POSITION: absolute; 
	PADDING-TOP: 0px; 
	WIDTH: 70px;
	COLOR: #999999; 
	TEXT-DECORATION: none
}
#qchannel #topcatalog UL {
	BORDER-RIGHT: #dfdfdf 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #dfdfdf 1px solid; 
	DISPLAY: none; PADDING-LEFT: 0px; 
	Z-INDEX: 20; LEFT: 50px; 
	PADDING-BOTTOM: 10px; 
	MARGIN: 0px; 
	BORDER-LEFT: #dfdfdf 1px solid; 
	WIDTH: 100px; 
	PADDING-TOP: 10px; 
	BORDER-BOTTOM: #dfdfdf 1px solid; 
	POSITION: absolute; 
	TOP: 35px; 
	HEIGHT: auto; 
	BACKGROUND-COLOR: #ffffff
}
#qchannel #topcatalog:hover UL {
	DISPLAY: block;
}

#qchannel #topcatalog UL LI A:hover {
	BACKGROUND: #87de3e; COLOR: #ffffff
}
#qchannel #topcatalog UL LI HR {
	BORDER-RIGHT: #dfdfdf 0px solid;
	BORDER-TOP: #dfdfdf 1px solid; 
	BORDER-LEFT: #dfdfdf 0px solid; 
	WIDTH: 96%; 
	BORDER-BOTTOM: #dfdfdf 0px solid; 
	HEIGHT: 0px
}


#cstyle LI.d {
	MARGIN: 0px 0px 0px 30px
}

#cstyle A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#favourite LI A {
	FLOAT: inherit; 
	margin:0 auto;
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;

    COLOR: #999999; 
    TEXT-DECORATION: none;
}

#searchwrapper #qchannel {
	MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 52px
}

#headersearch FORM {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#headersearch FORM.c {
	DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; WIDTH: 412px; HEIGHT: 28px
}
#headersearch FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#headersearch FIELDSET LEGEND {
	DISPLAY: none
}
#headersearch FIELDSET LABEL {
	DISPLAY: none
}
#headersearch #headersearchswitch {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 3px 0px 0px; WIDTH: 77px
}
#headersearch #headersearchcategory {
	FLOAT: left; WIDTH: 140px;height: 1.65em; margin-left: 3px;margin-right: 2px
}
#headersearch #headerkeywordp {
	FLOAT: left; WIDTH: 240px;height: 1.35em;
}
#headersearch #headerkeywords {
	FLOAT: left; WIDTH: 355px
}
#headersearch INPUT.c {
	COLOR: #999999
}
.s {
    BORDER-RIGHT: #999999 1px solid; 
    PADDING-RIGHT: 8px; 
    BORDER-TOP: #999999 1px solid; 
    DISPLAY: inline; 
    PADDING-LEFT: 8px; 
    MARGIN: 1px 5px 0px 3px; 
    BORDER-LEFT: #999999 1px solid; 
    CURSOR: pointer; 
    LINE-HEIGHT: 22px; 
    PADDING-TOP: 0px; 
    BORDER-BOTTOM: #999999 1px solid; 
    HEIGHT: 22px; 
    TEXT-ALIGN: center
}

.inputbutton2 {
    BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1px 5px 0px 3px; BORDER-LEFT: #999999 1px solid;  LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px;vertical-align: middle;
}
#headersearch #hsearch {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 3px; HEIGHT: 18px
}
#headersearch #hsearch A {
	COLOR: #ffffff
}
OPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}

#bodyer {
    BACKGROUND: #FFFFFF scroll repeat 0% 0%; width: 100% ; margin: 0px auto;
}
