<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">
	
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="LICENSE_UPGRADE_CHECK" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.central.event.NeedUpgradeCheckProcessor"></bean>
			</list>
		</property>
	</bean>
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="LICENSE_STATUS_CHECK" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.central.event.LicenseStatusCheckProcessor"></bean>
			</list>
		</property>
	</bean>	
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="CAN_ADD_SHOPDETAIL" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.central.event.CanAddShopDetailProcessor" >
					<property name="centralDao" ref="com.legendshop.central.dao.impl.CentralDao"></property>
				</bean>
			</list>
		</property>
	</bean>	
	
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="FUNCTION_CHECK" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.central.event.FunctionCheckProcessor"></bean>
			</list>
		</property>
	</bean>	
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="SYS_INIT" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.central.SysInitProcessor" />
			</list>
		</property>
		<property name="order" value="100"></property>
	</bean>
	
	<bean id="com.legendshop.central.dao.impl.CentralDao" class="com.legendshop.central.dao.impl.CentralDaoImpl"  parent="baseDao"/>
	
	
</beans>
   