<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">


	<!-- Add additional controller beans here -->
	<bean id="logoService" class="com.legendshop.business.service.impl.LogoServiceImpl">
		<property name="logoDao" ref="logoDao"></property>
	</bean>

	<bean id="logoDao" class="com.legendshop.business.dao.impl.LogoDaoImpl"
		parent="baseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="shopDetailDao" class="com.legendshop.business.dao.impl.ShopDetailJdbcDaoImpl"
		parent="baseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<property name="commonUtil" ref="commonUtil"></property>
		<property name="userDetailDao" ref="userDetailDao"></property>
	</bean>

	<bean id="basketDao" class="com.legendshop.business.dao.impl.BasketDaoImpl"
		parent="baseDao">
		<property name="productDao" ref="productDao"></property>
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
		<property name="stockService" ref="stockService"></property>
	</bean>

	<bean id="basketService" class="com.legendshop.business.service.impl.BasketServiceImpl">
		<property name="basketDao" ref="basketDao" />
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="productDao" class="com.legendshop.business.dao.impl.ProductJdbcDaoImpl"
		parent="baseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<property name="imgFileDao" ref="imgFileDao"></property>
		<property name="productCommentDao" ref="productCommentDao"></property>
		<property name="shopDetailDao" ref="shopDetailDao"></property>
		<property name="scaleList" ref="scaleList"></property>
	</bean>

	<bean id="productService" class="com.legendshop.business.service.impl.ProductServiceImpl"
		parent="baseService">
		<property name="productDao" ref="productDao" />
		<property name="shopDetailDao" ref="shopDetailDao" />
		<property name="imgFileDao" ref="imgFileDao" />
	</bean>


	<bean id="shopDetailService"
		class="com.legendshop.business.service.impl.ShopDetailServiceImpl"
		parent="baseService">
		<property name="shopDetailDao" ref="shopDetailDao" />
		<property name="userDetailDao" ref="userDetailDao" />
		<property name="shopStatusChecker" ref="shopStatusChecker" />
	</bean>

	<bean id="externalLinkDao" class="com.legendshop.business.dao.impl.ExternalLinkDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="externalLinkService"
		class="com.legendshop.business.service.impl.ExternalLinkServiceImpl">
		<property name="externalLinkDao" ref="externalLinkDao">
		</property>
	</bean>
	<bean id="newsDao" class="com.legendshop.business.dao.impl.NewsDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="newsService" class="com.legendshop.business.service.impl.NewsServiceImpl"
		parent="baseService">
		<property name="newsDao" ref="newsDao">
		</property>
	</bean>

	<bean id="pubDao" class="com.legendshop.business.dao.impl.PubDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="pubService" class="com.legendshop.business.service.impl.PubServiceImpl"
		parent="baseService">
		<property name="pubDao" ref="pubDao">
		</property>
	</bean>
	<bean id="hotsearchDao" class="com.legendshop.business.dao.impl.HotsearchDaoImpl"
		parent="baseDao">
	</bean>
	<bean id="hotsearchService"
		class="com.legendshop.business.service.impl.HotsearchServiceImpl">
		<property name="hotsearchDao" ref="hotsearchDao" />
		<property name="baseJdbcDao" ref="baseJdbcDao" />
	</bean>

	<bean id="advertisementDao" class="com.legendshop.business.dao.impl.AdvertisementDaoImpl"
		parent="baseDao">
		<property name="maxNumPerType" value="3"></property>
	</bean>

	<bean id="advertisementService"
		class="com.legendshop.business.service.impl.AdvertisementServiceImpl"
		parent="baseService" />

	<bean id="nsortDao" class="com.legendshop.business.dao.impl.NsortDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao" />
	</bean>

	<bean id="subDao" class="com.legendshop.business.dao.impl.SubDaoImpl"
		parent="subCommonDao">
		<property name="scoreDao" ref="scoreDao"></property>
		<property name="basketDao" ref="basketDao"></property>
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
		<property name="payTypeDao" ref="payTypeDao"></property>
		<property name="stockService" ref="stockService"></property>
	</bean>

	<bean id="userDetailDao" class="com.legendshop.business.dao.impl.UserDetailDaoImpl"
		parent="baseDao">
		<property name="commonUtil" ref="commonUtil"></property>
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
		<property name="deliveryCorpDao" ref="deliveryCorpDao"></property>
		<property name="deliveryTypeDao" ref="deliveryTypeDao"></property>
		<property name="subDao" ref="subDao"></property>
		<property name="basketDao" ref="basketDao"></property>
		<property name="scaleList" ref="scaleList"></property>
	</bean>

	<bean id="userDetailService"
		class="com.legendshop.business.service.impl.UserDetailServiceImpl"
		parent="baseService">
		<property name="userDetailDao" ref="userDetailDao">
		</property>
	</bean>

	<bean id="nsortService" class="com.legendshop.business.service.impl.NsortServiceImpl">
		<property name="nsortDao" ref="nsortDao">
		</property>
	</bean>

	<bean id="myleagueDao" class="com.legendshop.business.dao.impl.MyleagueDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
	</bean>

	<bean id="myleagueService"
		class="com.legendshop.business.service.impl.MyleagueServiceImpl">
		<property name="myleagueDao" ref="myleagueDao">
		</property>
	</bean>


	<bean id="baseService" class="com.legendshop.business.service.impl.BaseServiceImpl"
		abstract="true" parent="abstractService">
	</bean>

	<bean id="abstractService" class="com.legendshop.spi.service.impl.AbstractService"
		abstract="true">
		<property name="shopDetailDao">
			<ref bean="shopDetailDao" />
		</property>
		<property name="advertisementDao">
			<ref bean="advertisementDao" />
		</property>
	</bean>

	<bean id="businessService"
		class="com.legendshop.business.service.impl.BusinessServiceImpl"
		parent="baseService">
		<property name="externalLinkDao">
			<ref bean="externalLinkDao" />
		</property>
		<property name="newsDao">
			<ref bean="newsDao" />
		</property>
		<property name="productDao">
			<ref bean="productDao" />
		</property>
		<property name="myleagueDao">
			<ref bean="myleagueDao" />
		</property>
		<property name="sortDao">
			<ref bean="sortDao" />
		</property>
		<property name="nsortDao">
			<ref bean="nsortDao" />
		</property>
	</bean>

	<bean id="newsCategoryDao" class="com.legendshop.business.dao.impl.NewsCategoryDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="newsCategoryService"
		class="com.legendshop.business.service.impl.NewsCategoryServiceImpl">
		<property name="newsCategoryDao" ref="newsCategoryDao">
		</property>
	</bean>


	<bean id="sortDao" class="com.legendshop.business.dao.impl.SortDaoImpl"
		parent="baseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="sortServiceLocator"
		class="com.legendshop.business.service.locator.SortServiceLocator">
		<property name="sortService" ref="sortService" />
		<property name="serviceMap" ref="sortServiceMap" />
	</bean>

	<util:map id="sortServiceMap" >
		<entry key="default" value-ref="sortService" />
	</util:map>

	<bean id="sortService" class="com.legendshop.business.service.impl.SortServiceImpl"
		parent="baseService">
		<property name="sortDao" ref="sortDao" />
		<property name="nsortDao" ref="nsortDao" />
		<property name="productDao" ref="productDao" />
		<property name="hotsearchDao" ref="hotsearchDao" />
	</bean>

	<bean id="indexService" class="com.legendshop.business.service.impl.IndexServiceImpl"
		parent="baseService">
		<property name="userCommentDao" ref="userCommentDao" />
		<property name="userDetailDao" ref="userDetailDao" />
		<property name="newsDao" ref="newsDao" />
		<property name="externalLinkDao" ref="externalLinkDao" />
		<property name="productDao" ref="productDao" />
		<property name="imgFileDao" ref="imgFileDao" />
		<property name="subDao" ref="subDao" />
		<property name="pubDao" ref="pubDao" />
		<property name="tagDao" ref="tagDao" />
	</bean>

	<bean id="downloadLogDao" class="com.legendshop.business.dao.impl.DownloadLogDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="downloadLogService"
		class="com.legendshop.business.service.impl.DownloadLogServiceImpl">
		<property name="downloadLogDao" ref="downloadLogDao" />
		<property name="subDao" ref="subDao" />
		<property name="interValMinutes" value="-30" />
		<property name="maxTimes" value="30" />
	</bean>

	<bean id="brandDao" class="com.legendshop.business.dao.impl.BrandDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="brandService" class="com.legendshop.business.service.impl.BrandServiceImpl">
		<property name="brandDao" ref="brandDao"></property>
	</bean>

	<bean id="imgFileDao" class="com.legendshop.business.dao.impl.ImgFileDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="imgFileService" class="com.legendshop.business.service.impl.ImgFileServiceImpl">
		<property name="imgFileDao" ref="imgFileDao">
		</property>
	</bean>

	<bean id="payTypeDao" class="com.legendshop.business.dao.impl.PayTypeDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="payTypeService" class="com.legendshop.business.service.impl.PayTypeServiceImpl">
		<property name="payTypeDao" ref="payTypeDao">
		</property>
	</bean>

	<bean id="systemParameterDao" class="com.legendshop.business.dao.impl.SystemParameterDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="systemParameterService"
		class="com.legendshop.business.service.impl.SystemParameterServiceImpl">
		<property name="baseDao" ref="systemParameterDao">
		</property>
	</bean>

	<bean id="startupService" class="com.legendshop.business.service.impl.StartupServiceImpl">
		<property name="templatePageManager" ref="templatePageManager" />
		<property name="springBeanManager" ref="springBeanManager" />
	</bean>

	<bean id="commonUtil" class="com.legendshop.business.service.impl.CommonUtilImpl">
		<property name="commonUtilDao" ref="commonUtilDao"></property>
	</bean>

	<bean id="commonUtilDao" class="com.legendshop.business.dao.impl.CommonUtilDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="productCommentDao" class="com.legendshop.business.dao.impl.ProductCommentDaoImpl"
		parent="baseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<property name="subDao" ref="subDao"></property>
	</bean>

	<bean id="productCommentService"
		class="com.legendshop.business.service.impl.ProductCommentServiceImpl">
		<property name="productCommentDao" ref="productCommentDao" />
	</bean>

	<bean id="scoreDao" class="com.legendshop.business.dao.impl.ScoreDaoImpl"
		parent="subCommonDao">
		<property name="userDetailDao" ref="userDetailDao" />
		<property name="scorePerMoney" value="0.01"></property>
		<property name="moneyPerScore" value="1"></property>
	</bean>

	<bean id="subCommonDao" class="com.legendshop.business.dao.impl.SubCommonDaoImpl"
		parent="baseDao" />

	<bean id="scoreService" class="com.legendshop.business.service.impl.ScoreServiceImpl">
		<property name="scoreDao" ref="scoreDao" />
	</bean>
	<bean id="paymentService" class="com.legendshop.business.service.impl.PaymentServiceImpl">
		<property name="paymentProcessors" ref="paymentProcessors" />
	</bean>

	<util:map id="paymentProcessors" >
		<!-- 货到付款 -->
		<entry key="PGA" value-ref="payAtGoodsArrivedProcessor" />
	</util:map>

	<bean id="payAtGoodsArrivedProcessor"
		class="com.legendshop.business.process.PayAtGoodsArrivedProcessorImpl">
	</bean>

	<bean id="indexJpgService"
		class="com.legendshop.business.service.impl.IndexJpgServiceImpl">
		<property name="indexJpgDao" ref="indexJpgDao"></property>
	</bean>

	<bean id="indexJpgDao" class="com.legendshop.business.dao.impl.IndexJpgDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="userCommentService"
		class="com.legendshop.business.service.impl.UserCommentServiceImpl">
		<property name="userCommentDao" ref="userCommentDao"></property>
	</bean>

	<bean id="userCommentDao" class="com.legendshop.business.dao.impl.UserCommentDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="visitLogDao" class="com.legendshop.business.dao.impl.VisitLogDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="visitLogService"
		class="com.legendshop.business.service.impl.VisitLogServiceImpl">
		<property name="visitLogDao" ref="visitLogDao" />
	</bean>

	<bean id="deliveryCorpDao" class="com.legendshop.business.dao.impl.DeliveryCorpDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao" />
	</bean>

	<bean id="deliveryCorpService"
		class="com.legendshop.business.service.impl.DeliveryCorpServiceImpl">
		<property name="deliveryCorpDao" ref="deliveryCorpDao" />
	</bean>

	<bean id="deliveryTypeDao" class="com.legendshop.business.dao.impl.DeliveryTypeDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao" />
	</bean>

	<bean id="deliveryTypeService"
		class="com.legendshop.business.service.impl.DeliveryTypeServiceImpl">
		<property name="deliveryTypeDao" ref="deliveryTypeDao" />
	</bean>

	<bean id="partnerDao" class="com.legendshop.business.dao.impl.PartnerDaoImpl"
		parent="baseDao" />

	<bean id="partnerService" class="com.legendshop.business.service.impl.PartnerServiceImpl">
		<property name="partnerDao" ref="partnerDao" />
	</bean>

	<bean id="userAddressDao" class="com.legendshop.business.dao.impl.UserAddressDaoImpl"
		parent="baseDao" />

	<bean id="userAddressService"
		class="com.legendshop.business.service.impl.UserAddressServiceImpl">
		<property name="userAddressDao" ref="userAddressDao" />
	</bean>

	<bean id="askDao" class="com.legendshop.business.dao.impl.AskDaoImpl"
		parent="baseDao" />

	<bean id="askService" class="com.legendshop.business.service.impl.AskServiceImpl">
		<property name="askDao" ref="askDao" />
	</bean>

	<bean id="cashDao" class="com.legendshop.business.dao.impl.CashDaoImpl"
		parent="baseDao" />

	<bean id="cashService" class="com.legendshop.business.service.impl.CashServiceImpl">
		<property name="cashDao" ref="cashDao" />
	</bean>

	<bean id="cashFlowDao" class="com.legendshop.business.dao.impl.CashFlowDaoImpl"
		parent="baseDao" />

	<bean id="cashFlowService"
		class="com.legendshop.business.service.impl.CashFlowServiceImpl">
		<property name="cashFlowDao" ref="cashFlowDao" />
	</bean>

	<bean id="eventDao" class="com.legendshop.business.dao.impl.EventDaoImpl"
		parent="baseDao" />

	<bean id="eventService" class="com.legendshop.business.service.impl.EventServiceImpl">
		<property name="eventDao" ref="eventDao" />
	</bean>

	<bean id="constTableDao" class="com.legendshop.business.dao.impl.ConstTableDaoImpl"
		parent="baseDao" />

	<bean id="tagLibDao" class="com.legendshop.core.tag.TagLibDaoImpl"
		parent="baseDao" />

	<bean id="defaultCommonPageService"
		class="com.legendshop.business.service.impl.DefaultCommonPageServiceImpl"
		parent="abstractCommonPageService" />

	<bean id="abstractCommonPageService"
		class="com.legendshop.business.service.impl.AbstractCommonPageService"
		parent="abstractService" abstract="true">
		<property name="logoDao" ref="logoDao" />
		<property name="newsDao" ref="newsDao" />
		<property name="sortDao" ref="sortDao" />
		<property name="basketDao" ref="basketDao" />
		<property name="navigationDao" ref="navigationDao" />
	</bean>


	<!-- Locator -->
	<bean id="commonPageServiceLocator" class="com.legendshop.spi.locator.GenericServiceLocator">
		<property name="serviceMap" ref="commonPageServiceMap" />
	</bean>

	<util:map id="commonPageServiceMap" >
		<entry key="default" value-ref="defaultCommonPageService" />
	</util:map>

	<bean id="homeServiceLocator" class="com.legendshop.spi.locator.GenericServiceLocator">
		<property name="serviceMap" ref="homeServiceServiceMap" />
	</bean>

	<util:map id="homeServiceServiceMap">
		<entry key="default" value-ref="homeService" />
	</util:map>

	<bean id="homeService" class="com.legendshop.business.service.impl.HomeServiceImpl"
		parent="baseService">
		<property name="productDao" ref="productDao" />
		<property name="imgFileDao" ref="imgFileDao" />
		<property name="sortDao" ref="sortDao" />
		<property name="pubDao" ref="pubDao" />
		<property name="tagDao" ref="tagDao" />
		<property name="newsDao" ref="newsDao" />
		<property name="externalLinkDao" ref="externalLinkDao" />
	</bean>

	<bean id="tagDao" class="com.legendshop.business.dao.impl.TagDaoImpl"
		parent="baseDao">
		<property name="sortDao" ref="sortDao" />
		<property name="advertisementDao" ref="advertisementDao" />
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="tagService" class="com.legendshop.business.service.impl.TagServiceImpl">
		<property name="tagDao" ref="tagDao" />
	</bean>


	<bean id="tagMapDao" class="com.legendshop.business.dao.impl.TagMapDaoImpl"
		parent="baseDao" />

	<bean id="tagMapService" class="com.legendshop.business.service.impl.TagMapServiceImpl">
		<property name="tagMapDao" ref="tagMapDao" />
	</bean>

	<bean id="messageDao" class="com.legendshop.business.dao.impl.MessageDaoImpl"
		parent="baseDao" />

	<bean id="messageService" class="com.legendshop.business.service.impl.MessageServiceImpl">
		<property name="messageDao" ref="messageDao" />
	</bean>


	<bean id="productConsultDao" class="com.legendshop.business.dao.impl.ProductConsultDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
	</bean>

	<bean id="productConsultService"
		class="com.legendshop.business.service.impl.ProductConsultServiceImpl">
		<property name="productConsultDao" ref="productConsultDao" />
		<property name="productDao" ref="productDao" />
	</bean>



	<bean id="skuDao" class="com.legendshop.business.dao.impl.SkuDaoImpl"
		parent="baseDao" />

	<bean id="skuService" class="com.legendshop.business.service.impl.SkuServiceImpl">
		<property name="skuDao" ref="skuDao" />
	</bean>

	<bean id="productPropertyDao" class="com.legendshop.business.dao.impl.ProductPropertyDaoImpl"
		parent="baseDao">
		<property name="productPropertyValueDao" ref="productPropertyValueDao"></property>
	</bean>

	<bean id="productPropertyService"
		class="com.legendshop.business.service.impl.ProductPropertyServiceImpl">
		<property name="productPropertyDao" ref="productPropertyDao" />
	</bean>

	<bean id="productPropertyValueDao"
		class="com.legendshop.business.dao.impl.ProductPropertyValueDaoImpl"
		parent="baseDao" />

	<bean id="productPropertyValueService"
		class="com.legendshop.business.service.impl.ProductPropertyValueServiceImpl">
		<property name="productPropertyValueDao" ref="productPropertyValueDao" />
	</bean>

	<bean id="productSpecDao" class="com.legendshop.business.dao.impl.ProductSpecDaoImpl"
		parent="baseDao" />

	<bean id="productSpecService"
		class="com.legendshop.business.service.impl.ProductSpecServiceImpl">
		<property name="productSpecDao" ref="productSpecDao" />
	</bean>


	<bean id="menuManagerDao" class="com.legendshop.business.dao.impl.MenuManagerDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="menuManagerService"
		class="com.legendshop.business.service.impl.MenuManagerServiceImpl">
		<property name="menuManagerDao" ref="menuManagerDao" />
	</bean>


	<bean id="locationDao" class="com.legendshop.business.dao.impl.LocationDaoImpl"
		parent="baseDao">
		<property name="baseJdbcDao" ref="baseJdbcDao"></property>
	</bean>

	<bean id="locationService"
		class="com.legendshop.business.service.impl.LocationServiceImpl">
		<property name="locationDao" ref="locationDao" />
	</bean>

	<bean id="templetManager" class="com.legendshop.core.page.impl.TempletManagerImpl"
		init-method="init">
		<property name="backEnd" ref="backEndTempletSetting" />
		<property name="frontEnd" ref="frontEndTempletSetting" />
	</bean>

	<bean id="frontEndTempletSetting" class="com.legendshop.core.page.impl.TempletSetting">
		<property name="templetMap" ref="frontEndTempletMap" />
	</bean>

	<bean id="backEndTempletSetting" class="com.legendshop.core.page.impl.TempletSetting">
		<property name="templetMap" ref="backEndTempletMap" />
	</bean>

	<util:map id="frontEndTempletMap">
		<entry key="default" value="defaultFrontEndTemplet" />
	</util:map>

	<util:map id="backEndTempletMap">
		<entry key="default" value="defaultBackEndTemplet" />
	</util:map>

	<bean id="defaultFrontEndTemplet" class="com.legendshop.model.template.Templet"
		scope="prototype">
		<property name="languages">
			<list>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>userChoice</value>
					</property>
					<property name="value">
						<value>language_userChoice</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>zh_CN</value>
					</property>
					<property name="value">
						<value>language_zh_CN</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>en_US</value>
					</property>
					<!-- use as label -->
					<property name="value">
						<value>language_en_US</value>
					</property>
				</bean>
			</list>
		</property>
		<property name="styles">
			<list>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>black</value>
					</property>
					<property name="value">
						<value>color_black</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>blue</value>
					</property>
					<property name="value">
						<value>color_blue</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>green</value>
					</property>
					<property name="value">
						<value>color_green</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>purple</value>
					</property>
					<property name="value">
						<value>color_purple</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>red</value>
					</property>
					<property name="value">
						<value>color_red</value>
					</property>
				</bean>
				<bean class="com.legendshop.model.StatusKeyValueEntity">
					<property name="key">
						<value>yellow</value>
					</property>
					<property name="value">
						<value>color_yellow</value>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="defaultBackEndTemplet" class="com.legendshop.model.template.Templet"
		scope="prototype">
		<property name="styles" ref="backEndStyles" />
	</bean>

	<util:list id="backEndStyles" value-type="com.legendshop.model.StatusKeyValueEntity">
		<bean class="com.legendshop.model.StatusKeyValueEntity">
			<property name="key">
				<value>its</value>
			</property>
			<property name="value">
				<value>color_its</value>
			</property>
		</bean>
		<bean class="com.legendshop.model.StatusKeyValueEntity">
			<property name="key">
				<value>mars</value>
			</property>
			<property name="value">
				<value>color_mars</value>
			</property>
		</bean>
		<bean class="com.legendshop.model.StatusKeyValueEntity">
			<property name="key">
				<value>simple</value>
			</property>
			<property name="value">
				<value>color_simple</value>
			</property>
		</bean>
		<bean class="com.legendshop.model.StatusKeyValueEntity">
			<property name="key">
				<value>report</value>
			</property>
			<property name="value">
				<value>color_report</value>
			</property>
		</bean>
		<bean class="com.legendshop.model.StatusKeyValueEntity">
			<property name="key">
				<value>mark</value>
			</property>
			<property name="value">
				<value>color_mark</value>
			</property>
		</bean>
	</util:list>

	<bean id="subServiceLocator"
		class="com.legendshop.business.service.locator.SubServiceLocator">
		<property name="subService" ref="subService" />
		<property name="serviceMap" ref="subServiceMap" />
	</bean>

	<util:map id="subServiceMap" >
		<entry key="default" value-ref="subService" />
	</util:map>

	<bean id="navigationDao" class="com.legendshop.business.dao.impl.NavigationDaoImpl"
		parent="baseDao">
		<property name="navigationItemDao" ref="navigationItemDao" />
	</bean>

	<bean id="navigationService"
		class="com.legendshop.business.service.impl.NavigationServiceImpl">
		<property name="navigationDao" ref="navigationDao" />
	</bean>


	<bean id="navigationItemDao" class="com.legendshop.business.dao.impl.NavigationItemDaoImpl"
		parent="baseDao" />

	<bean id="navigationItemService"
		class="com.legendshop.business.service.impl.NavigationItemServiceImpl">
		<property name="navigationItemDao" ref="navigationItemDao" />
	</bean>

	<bean id="sensitiveWordDao" class="com.legendshop.business.dao.impl.SensitiveWordDaoImpl"
		parent="baseDao" />

	<bean id="sensitiveWordService"
		class="com.legendshop.business.service.impl.SensitiveWordServiceImpl">
		<property name="sensitiveWordDao" ref="sensitiveWordDao" />
	</bean>

	<bean id="stockService" class="com.legendshop.business.service.impl.StockServiceImpl">
		<property name="productDao" ref="productDao" />
	</bean>

</beans>
