<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/task   
     http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	default-autowire="byName">

	<!-- 定时器
		字段名     允许的值     允许的特殊字符  
		1. 秒     0-59     , - * /  
		2. 分     0-59     , - * /  
		3. 小时     0-23     , - * /  
		4. 日     1-31     , - * ? / L W C  
		5. 月     1-12 or JAN-DEC     , - * /  
		6. 周几     1-7 or SUN-SAT     , - * ? / L C #  
		7. 年 (可选字段)     empty, 1970-2099     , - * / 
		
		0 0 10,14,16 * * ?每天上午10点，下午2点和下午4点
		0 0,15,30,45 * 1-10 * ?每月前10天每隔15分钟
		30 0 0 1 1 ? 2012在2012年1月1日午夜过30秒时
		0 0 8-5 ? * MON-FRI每个工作日的工作时间
		"0 0 12 * * ?"     每天中午十二点触发  
		"0 15 10 ? * *"     每天早上10：15触发  
		"0 15 10 * * ?"     每天早上10：15触发  
		"0 15 10 * * ? *"     每天早上10：15触发  
		"0 15 10 * * ? 2005"     2005年的每天早上10：15触发  
		"0 * 14 * * ?"     每天从下午2点开始到2点59分每分钟一次触发  
		"0 0/5 14 * * ?"     每天从下午2点开始到2：55分结束每5分钟一次触发  
		"0 0/5 14,18 * * ?"     每天的下午2点至2：55和6点至6点55分两个时间段内每5分钟一次触发  
		"0 0-5 14 * * ?"     每天14:00至14:05每分钟一次触发  
		"0 10,44 14 ? 3 WED"     三月的每周三的14：10和14：44触发  
		"0 15 10 ? * MON-FRI"     每个周一、周二、周三、周四、周五的10：15触发  
		"0 15 10 15 * ?"     每月15号的10：15触发  
		"0 15 10 L * ?"     每月的最后一天的10：15触发  
		"0 15 10 ? * 6L"     每月最后一个周五的10：15触发  
		"0 15 10 ? * 6L"     每月最后一个周五的10：15触发  
		"0 15 10 ? * 6L 2002-2005"     2002年至2005年的每月最后一个周五的10：15触发  
		"0 15 10 ? * 6#3"     每月的第三个周五的10：15触发 
		
		
	-->
	<task:annotation-driven />

	<bean id="subService"
		class="com.legendshop.business.service.timer.impl.SubServiceImpl" parent="baseService">
		<property name="commitInteval" value="100" />
		<property name="expireDate" value="-5" />
		<property name="subDao" ref="subDao" />
		<property name="shopDetailDao" ref="shopDetailDao" />
		<property name="payTypeService" ref="payTypeService" />
		<property name="stockService" ref="stockService" />
	</bean>
	<!-- 5/10 * * * * ? -->
	<task:scheduled-tasks>
		<task:scheduled ref="subService" method="finishUnAcklodge"
			cron="0 15 1 * * ?" />
		<task:scheduled ref="subService" method="finishUnPay"
			cron="0 15 2 * * ?" />
		<task:scheduled ref="subService" method="removeOverTimeBasket"
			cron="0 15 3 * * ?" />
	</task:scheduled-tasks>
</beans>

