<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">
	<cache:annotation-driven key-generator="stringKeyGenerator" />
	 
	<bean id="stringKeyGenerator" class="com.legendshop.core.cache.StringKeyGenerator" />
	

	<bean id="cacheManager" class="com.legendshop.core.cache.EhCacheCacheManager" p:cache-manager-ref="ehcacheFactory"
		p:supportQueryCache="true" p:removeAllEntries="false" />
		
	<bean id="ehcacheFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:config-location="classpath:ehcache.xml" />
	

<!-- 	
	<bean id="cacheManager" class="com.legendshop.core.cache.MemCachedManager">
	
		<property name="supportQueryCache" value="true" />
		<property name="removeAllEntries" value="false" />

		<property name="caches">
			<set>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ShopDetailView" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Sort" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="SortList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Nsort" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="NsortList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Indexjpg" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="IndexjpgList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Pub" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="PubList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Advertisement" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="AdvertisementList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ProductDetail" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ProductDetailList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="News" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="NewsList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ExternalLink" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ExternalLinkList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Hotsearch" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="HotsearchList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ImgFile" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="ImgFileList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="Myleague" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="MyleagueList" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				<bean class="com.legendshop.core.cache.MemcachedCache">
					<property name="name" value="LEGENDSHOP_CACHE" />
					<property name="memcachedClient" ref="memcachedClient" />
					<property name="expiredDuration" value="3600" />
				</bean>
				
				
				
				
			</set>
		</property>
	</bean>

	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<property name="servers" value="127.0.0.1:11211,127.0.0.1:11212" />
		
		deprecated
		<property name="protocol" value="BINARY" />
		
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<property name="opTimeout" value="1000" />
		<property name="timeoutExceptionThreshold" value="1998" />
		<property name="hashAlg">
			<value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
		</property>
		<property name="locatorType" value="CONSISTENT" />
		<property name="failureMode" value="Redistribute" />
		<property name="useNagleAlgorithm" value="false" />
	
	</bean>
-->
	
</beans>
