<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!-- resource list 不通过Spring框架直接访问 -->
	<mvc:resources mapping="/common/**" location="/common/" />

	<mvc:resources mapping="/p/logout/**" location="/p/logout/" />
	<mvc:resources mapping="/p/j_spring_security_check/**"
		location="/p/j_spring_security_check/" />

	<mvc:resources mapping="/plugins/**" location="/plugins/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/photoserver/photo/**" location="/photoserver/photo/" />

	<mvc:default-servlet-handler />

	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="prefixJson" value="false" />
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
						<value>text/json</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.legendshop.core.MyStringToDateConverter" />
			</list>
		</property>
	</bean>

	<!-- Default ViewResolver -->
	<bean id="viewResolver1"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		lazy-init="false">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF" />
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="2"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		lazy-init="false">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.tiles2.TilesView</value>
		</property>
		<property name="order" value="1"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basename="i18n/ApplicationResources" />

	<!-- Mapping exception to the handler view -->
	<bean id="exceptionResolver" class="com.legendshop.core.MappingExceptionResolver">
		<!-- to /commons/error.jsp -->
		<property name="defaultErrorView" value="/pages/common/error" />
		<property name="exceptionMappings">
			<props>
			</props>
		</property>
		<property name="exceptionCodeMappings">
			<map>
				<entry key="java.lang.RuntimeException" value="100" />
				<entry key="java.lang.NullPointerException" value="404" />
				<entry key="java.sql.BatchUpdateException" value="407" />
				<entry key="org.springframework.dao.DataIntegrityViolationException"
					value="406" />
			</map>
		</property>
	</bean>

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
		lazy-init="false">
		<property name="definitions">
			<list>
				<value>classpath*:/tiles/**/*.xml</value>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1048576" />
		<property name="defaultEncoding" value="utf-8" />
	</bean>

	<!-- 自动搜索@Controller标注的类 -->
	<context:component-scan base-package="com.legendshop.business.controller" />
	
	<!-- 插件部分 -->
	<import resource="classpath*:/spring/legendshop/plugins/**/*-controller.xml" />


</beans>
   