<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName">
			<value>LegendShopLanguage</value>
		</property>
		<!-- in seconds. If set to -1, the cookie is not persisted (deleted when 
			browser shuts down) -->
		<property name="cookieMaxAge">
			<value>100000</value>
		</property>
	</bean>

	<bean id="templatePageManager" class="com.legendshop.page.impl.TemplatePageManagerImpl"></bean>

	<bean id="springBeanManager" class="com.legendshop.core.helper.SpringBeanManager"></bean>

	<bean id="captchaService"
		class="com.octo.captcha.service.multitype.GenericManageableCaptchaService">
		<constructor-arg index="0" ref="imageEngine" />
		<constructor-arg type="int" index="1" value="180" /> <!--超时时间 秒 -->
		<constructor-arg type="int" index="2" value="100000" /><!--最大并发数 -->
		<constructor-arg type="int" index="3" value="75000" />
	</bean>

	<bean id="imageEngine" class="com.legendshop.core.randing.MyImageCaptchaEngine">
	</bean>

	<!-- 图片尺寸设置 -->
	<util:map id="scaleList" >
		<entry key="0" value-ref="scale0"></entry>
		<entry key="1" value-ref="scale1"></entry>
		<entry key="2" value-ref="scale2"></entry>
		<entry key="3" value-ref="scale3"></entry>
	</util:map>
	
	<util:list id="scale0" value-type="java.lang.Integer">
		<value>350</value>
		<value>350</value>
	</util:list>

	<util:list id="scale1" value-type="java.lang.Integer">
		<value>150</value>
		<value>150</value>
	</util:list>

	<util:list id="scale2" value-type="java.lang.Integer">
		<value>100</value>
		<value>100</value>
	</util:list>
	
	<util:list id="scale3" value-type="java.lang.Integer">
		<value>65</value>
		<value>65</value>
	</util:list>
	
	<bean id="systemConfig" class="com.legendshop.core.SystemConfig">
			<property name="icpInfo" value="粤ICP备09106104号-10" />
			<property name="logo" value="/common/images/legendshop.gif" />
			<property name="shopName"  value="LegendShop商城系统"/>
			<property name="url" value="http://www.legendshop.cn" />
	</bean>

</beans>
