
#tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 400px; PADDING-TOP: 0px; HEIGHT: 23px
}
#tags LI {
	BACKGROUND: url(../images/tagleft.gif) no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
#tags LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/tagright.gif) no-repeat right bottom; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #999; LINE-HEIGHT: 23px; PADDING-TOP: 0px; HEIGHT: 23px; TEXT-DECORATION: none
}
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tags LI.selectTag {
	BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 24px
}
#tags LI.selectTag A {
	BACKGROUND-POSITION: right top; COLOR: #000; LINE-HEIGHT: 25px; HEIGHT: 24px
}
#tagContent {
	BORDER-RIGHT: #CCCCCC 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #CCCCCC 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #CCCCCC 0px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #CCCCCC 0px solid; BACKGROUND-COLOR: #fff
}
.tagContent {
	PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px;  PADDING-BOTTOM: 10px; WIDTH: 716px; COLOR: #474747; PADDING-TOP: 10px;
}
#tagContent DIV.selectTag {
	DISPLAY: block
}

.tagContent .goodsAttributeTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

.tagContent .goodsAttributeTable th {
	background-color: #F3F3F3;
	border: 1px solid #D6D6D6;
	line-height: 30px;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}

.tagContent .goodsAttributeTable td {
	border: 1px solid #D6D6D6;
	line-height: 30px;
	padding-right: 10px;
}
