.modelType{border: 1px solid ; margin: 3px;padding: 1px;background-color: #FFFFF6}
.selectType { padding: 3px ;margin-left:68px ; }
.selectOption { padding: 3px ;margin-left:68px ; }
.CheckBoxType { padding: 3px ;margin-left:68px ; }
.radioType { padding: 3px ;margin-left:68px ; }
.selectOption {padding: 3px ;margin-left:100px ;}